HappyTails_admin/Connected Services/HappyTailsServiceRef/HappyTailsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HappyTailsService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:11333/HappyTailsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:11333/HappyTailsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:11333/HappyTailsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebShopService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IHappyTailsService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_AddProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:AddProduct" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_AddProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddProductResponse" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_EditProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:EditProduct" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_EditProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditProductResponse" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_DeleteProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProduct" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_DeleteProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteProductResponse" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_GetAllCustomers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomers" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_GetAllCustomers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllCustomersResponse" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_AddCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomer" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_AddCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_EditCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomer" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_EditCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:EditCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_DeleteCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomer" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_DeleteCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteCustomerResponse" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_AddPurchase_InputMessage">
    <wsdl:part name="parameters" element="tns:AddPurchase" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_AddPurchase_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddPurchaseResponse" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_GetTotalPrice_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalPrice" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_GetTotalPrice_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTotalPriceResponse" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_GetPurchasesFromCustomer_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchasesFromCustomer" />
  </wsdl:message>
  <wsdl:message name="IHappyTailsService_GetPurchasesFromCustomer_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPurchasesFromCustomerResponse" />
  </wsdl:message>
  <wsdl:portType name="IHappyTailsService">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IHappyTailsService/GetAllProducts" message="tns:IHappyTailsService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHappyTailsService/GetAllProductsResponse" message="tns:IHappyTailsService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IHappyTailsService/AddProduct" message="tns:IHappyTailsService_AddProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHappyTailsService/AddProductResponse" message="tns:IHappyTailsService_AddProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IHappyTailsService/EditProduct" message="tns:IHappyTailsService_EditProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHappyTailsService/EditProductResponse" message="tns:IHappyTailsService_EditProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <wsdl:input wsaw:Action="http://tempuri.org/IHappyTailsService/DeleteProduct" message="tns:IHappyTailsService_DeleteProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHappyTailsService/DeleteProductResponse" message="tns:IHappyTailsService_DeleteProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <wsdl:input wsaw:Action="http://tempuri.org/IHappyTailsService/GetAllCustomers" message="tns:IHappyTailsService_GetAllCustomers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHappyTailsService/GetAllCustomersResponse" message="tns:IHappyTailsService_GetAllCustomers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IHappyTailsService/AddCustomer" message="tns:IHappyTailsService_AddCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHappyTailsService/AddCustomerResponse" message="tns:IHappyTailsService_AddCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EditCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IHappyTailsService/EditCustomer" message="tns:IHappyTailsService_EditCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHappyTailsService/EditCustomerResponse" message="tns:IHappyTailsService_EditCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IHappyTailsService/DeleteCustomer" message="tns:IHappyTailsService_DeleteCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHappyTailsService/DeleteCustomerResponse" message="tns:IHappyTailsService_DeleteCustomer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddPurchase">
      <wsdl:input wsaw:Action="http://tempuri.org/IHappyTailsService/AddPurchase" message="tns:IHappyTailsService_AddPurchase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHappyTailsService/AddPurchaseResponse" message="tns:IHappyTailsService_AddPurchase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTotalPrice">
      <wsdl:input wsaw:Action="http://tempuri.org/IHappyTailsService/GetTotalPrice" message="tns:IHappyTailsService_GetTotalPrice_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHappyTailsService/GetTotalPriceResponse" message="tns:IHappyTailsService_GetTotalPrice_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchasesFromCustomer">
      <wsdl:input wsaw:Action="http://tempuri.org/IHappyTailsService/GetPurchasesFromCustomer" message="tns:IHappyTailsService_GetPurchasesFromCustomer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IHappyTailsService/GetPurchasesFromCustomerResponse" message="tns:IHappyTailsService_GetPurchasesFromCustomer_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IHappyTailsService" type="tns:IHappyTailsService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IHappyTailsService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddProduct">
      <soap:operation soapAction="http://tempuri.org/IHappyTailsService/AddProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditProduct">
      <soap:operation soapAction="http://tempuri.org/IHappyTailsService/EditProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteProduct">
      <soap:operation soapAction="http://tempuri.org/IHappyTailsService/DeleteProduct" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCustomers">
      <soap:operation soapAction="http://tempuri.org/IHappyTailsService/GetAllCustomers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCustomer">
      <soap:operation soapAction="http://tempuri.org/IHappyTailsService/AddCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditCustomer">
      <soap:operation soapAction="http://tempuri.org/IHappyTailsService/EditCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteCustomer">
      <soap:operation soapAction="http://tempuri.org/IHappyTailsService/DeleteCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPurchase">
      <soap:operation soapAction="http://tempuri.org/IHappyTailsService/AddPurchase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTotalPrice">
      <soap:operation soapAction="http://tempuri.org/IHappyTailsService/GetTotalPrice" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchasesFromCustomer">
      <soap:operation soapAction="http://tempuri.org/IHappyTailsService/GetPurchasesFromCustomer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HappyTailsService">
    <wsdl:port name="BasicHttpBinding_IHappyTailsService" binding="tns:BasicHttpBinding_IHappyTailsService">
      <soap:address location="http://localhost:11333/HappyTailsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>