HappyTails_admin/Connected Services/HappyTailsServiceRef/HappyTailsService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WebShopService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WebShopService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductInformation" nillable="true" type="tns:ProductInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductInformation" nillable="true" type="tns:ArrayOfProductInformation" />
  <xs:complexType name="ProductInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="AnimalCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Brand" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Height" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="ImagePath" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Length" nillable="true" type="xs:decimal" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductInformation" nillable="true" type="tns:ProductInformation" />
  <xs:complexType name="ArrayOfCustomerInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerInformation" nillable="true" type="tns:CustomerInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerInformation" nillable="true" type="tns:ArrayOfCustomerInformation" />
  <xs:complexType name="CustomerInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Firstname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Street" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipCode" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerInformation" nillable="true" type="tns:CustomerInformation" />
  <xs:complexType name="PurchaseInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerId" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="NumberOfProducts" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="PurchaseDate" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TotalPrice" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PurchaseInformation" nillable="true" type="tns:PurchaseInformation" />
  <xs:complexType name="ArrayOfPurchaseInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PurchaseInformation" nillable="true" type="tns:PurchaseInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPurchaseInformation" nillable="true" type="tns:ArrayOfPurchaseInformation" />
</xs:schema>